@model IEnumerable<NC_21.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th></th>
            <th></th>
       
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="bg-primary">
                <td colspan="3">
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Delete</a>
                </td>
            </tr>
            @foreach (var f in item.Fields)
            {
                <tr class="bg-info">
                    <td colspan="4">@f.Nazwa </td>
                </tr>
                @foreach (var g in f.Groups)
                {
    <tr>
        <td colspan="3">@g.Nazwa </td>
        <td> <a asp-action="TakeGrades" asp-route-courseid="@item.Id" asp-route-groupid="@g.Id" class="btn btn-sm btn-secondary">Oceń</a>   </td>
    </tr>

                    @foreach (var s in ViewBag.listaOcen)
                    {
                        <tr class="bg-light">
                            
                                @if (s.CourseId == item.Id & s.GroupId == g.Id)
                                {
                                    <td colspan="2">@s.I_N </td>

                                        @if (s.Ocena == 0 & s.Data == DateTime.Today)
                                        {
                                            <td></td><td></td>
                                        }
                                        else
                                        {
                                            <td>@s.Ocena</td>
                                            <td>@s.Data.ToString("dd/MM/yyyy") </td>
                                            }

                                 }
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
