@model IEnumerable<NC_21.Models.Field>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institut.Nazwa)
                </td>
                <td>
                    @foreach(var c in item.Courses) { @c.Nazwa}

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-info">Delete</a>
                </td>
            </tr>
            @foreach (var g in item.Groups)
            {
                <tr>

                    <td colspan="3">
                        @g.Nazwa
                    </td>
                </tr>
                @foreach (var s in g.Students)
                {
                    <tr class="bg-light">
                        <td></td>
                        <td colspan="2">
                            @s.I_N
                        </td>
                    </tr>

                }
            }

        }
    </tbody>
</table>
