
<form asp-controller="Groups" asp-action="Details" method="post">
    @{string xin = "";}
        @foreach (var s in ViewBag.lista)
        {
            <tr>
                <td>@if (s.I_N != xin) {@s.I_N}</td>
                <td>
                    @if (s.Data.Year > 1900)
                    {@s.Data.ToString("dd/MM/yyyy")}
                </td>
                <td>

                    <input name="Ocena" class="form-control" value="@s.Ocena" />
                    <input hidden name="StudentId" value="@s.StudentId" />
                    <input hidden name="Id_cs" value="@s.Id" />
                    <input hidden name="typ" value="2" />
                    <input hidden name="xcr" value="@s.CourseId" />
                    <input hidden name="id" value="@s.GroupId" />

                </td>
            </tr>
            xin = s.I_N;
        }
    <tr><td colspan="4" class="text-center"> <input type="submit" value="Zapisz" class="btn btn-primary" /> </td></tr>
</form>