@model NC_21.Models.Group

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <table class="table table-secondary">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Nazwa)</th>
                <th>@Html.DisplayNameFor(model => model.Field)</th>
            </tr>           
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Nazwa)</td>
                <td>@Html.DisplayFor(model => model.Field.Nazwa)</td>
            </tr>
        </tbody>
    </table>       
</div>
<div>
    <table class="table table-sm">
        @foreach (var p in Model.Field.Courses)
        {
            <tr class="table-secondary">
                <td colspan="2">@p.Nazwa </td>
                <td class="text-right">
                    @if (ViewBag.typ == 0)
                    {
                        <a asp-action="Details" asp-route-id="@Model.Id" asp-route-typ="1" asp-route-xcr="@p.Id" class="btn btn-secondary">Ocenianie</a>
                    }

                </td>
            </tr>
            @if (p.Id == ViewBag.cr & ViewBag.typ==1)
            {
                @await Component.InvokeAsync("GradeDetails", new { courseid = p.Id, groupid = Model.Id, typ = 1 })

            }
            else
            {
                @await Component.InvokeAsync("GradeDetails", new { courseid = p.Id, groupid = Model.Id })
            }

        }
    </table>


    
                
         
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
